.gradle
/build/
/out/
!gradle/wrapper/gradle-wrapper.jar
/*/build
/*/out
/tomcat

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
/.jsdtscope
/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

!/ansible/build